body {
  font-family: "Nunito Sans", sans-serif !important;
  display: flex;
  justify-content: center;
}

.app-container {
  margin: 5% !important;
  width: 100%;
  max-width: 414px;
  height: 736px;
  overflow: hidden;
  background-image: url('../images/Background/todo-bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #707070;
  box-sizing: content-box;
}

h1 {
  margin: 0 !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  line-height: 48px !important;
  position: relative;
}

h2 {
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 33px !important;
  color: black !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

h3 {
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 400 !important;
  font-size: 19px !important;
  line-height: 26px !important;
  color: #707070 !important;
  position: relative;
}

h4 {
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 33px !important;
  color: black !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

.todo-header {
  width: 100%;
  max-width: 414px;
}

.todo-title {
  color: white;
  margin-top: 36px !important;
  margin-left: 34px !important;
  height: 48px !important;
}

.todo-button-group {
  width: 100%;
  max-width: 414px;
  margin-top: 65px;
  padding-right: 24px !important;
}

.todo-clear-all {
  width: 53px;
  border: 2px solid #ffa800;
  box-sizing: border-box;
  border-radius: 30px;
  margin-right: 10px;
  font-size: 30px;
  line-height: 5px;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.todo-clear-all:hover .fa-xmark {
  transition: 0.5s;
  transform: rotate(360deg);
}

.todo-add-icon {
  width: 53px;
  height: 53px;
  background: rgba(255, 168, 0, 0.75);
  border: 2px solid #ffa800;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 30px;
  line-height: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.todo-add-icon:hover .fa-plus {
  transition: 0.5s;
  transform: rotate(360deg);
}

.todo-record-list {
  margin-top: 6px;
  margin-bottom: 0 !important;
  height: 528px !important;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0%;
}

.todo-record {
  background-color: #ffffff;
  height: 90px;
  width: 100%;
  max-width: 414px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.todo-checkbox {
  width: 25px !important;
  min-width: 25px !important;
  height: 25px !important;
  min-height: 25px !important;
  background: #ffffff;
  border: 2px solid #565656;
  box-sizing: border-box !important;
  position: relative;
  border-radius: 20px;
  padding: 0 !important;
}

.todo-record-text {
  width: 100%;
}

.todo-record-text h2 {
  width: min-content;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.todo-record-text h3 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.todo-delete {
  position: relative;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 20px;
  line-height: 20px;
}

.todo-unchecked {
  background: inherit;
}

.todo-checked {
  background: #ebe8ed;
}

.todo-checked .todo-checkbox {
  background-color: #9e00ff !important;
  border: 4px solid #8b00e1;
  background-image: url('../images/Check/checked.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

@keyframes strike {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.strike {
  position: relative;
}



.todo-checked .text-line-through {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: black !important;
  animation-name: strike;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.todo-container-add {
  display: none;
  position: relative;
  bottom: 298px;
  width: inherit !important;
  height: 298px ;
  border-radius: 20px;
  box-shadow: 0px -50px 100px 20px rgba(0, 0, 0, 0.4);
  background-color: #00000030;
}

@keyframes openModal {
  from {
    height: 0;
    bottom: -298px;
  }

  to {
    bottom: 298px;
    height: 298px;
  }
}

.todo-container-add.show {
  display: block !important;
  animation-duration: 1s;
  animation-name: openModal;
}

.todo-add {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 298px;
  width: 100%;
  background-color: white;
  border: 1px solid;
  border-radius: 20px;
}

.index-back {
  z-index: -1 !important;
}

.add-background {
  position: absolute;
  width: inherit;
  max-width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.3);
  transition: 2s;
  border-radius: 20px;
  margin: 0 !important;
}


.todo-form-title {
  width: 90%;
  height: 51px;
  background: #f9f9f9;
  border: 1px solid #707070;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  font-size: 23px;
  border-radius: 4px !important;
}

.todo-form-title::placeholder {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 300;
  font-size: 23px;
  line-height: 31px;
  color: #b1b1b1;
}

.todo-form-description {
  margin-top: 8px;
  width: 90%;
  height: 121px;
  background: #f9f9f9;
  border: 1px solid #707070;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  font-size: 23px;
  border-radius: 4px !important;
  outline: none;
  box-shadow: none;
  resize: none;
  display: block;
  background-image: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  overflow: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
}

.todo-form-description::placeholder {
  font-style: italic;
  font-weight: 300;
  font-size: 23px;
  line-height: 31px;
  color: #b1b1b1;
}

.todo-create-button {
  margin-top: 22px !important;
  width: 90%;
  height: 53px;
  background: #c361ff;
  border: 2px solid rgba(139, 0, 225, 0.7);
  box-sizing: border-box;
  align-items: center;
  border-radius: 4px !important;
}

.todo-check-img {
  color: white;
  font-size: 20px;
  line-height: 20px;
  right: 10px;
  padding: 0 !important;
}

.todo-create-text {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  padding: 0 !important;
}

.todo-list-none {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-top: 50%;
}