body {
  font-family: "Nunito Sans", sans-serif !important;
  width: 414px;
  height: 736px;
  overflow: hidden;
  background-image: url(/assets/Images/Background/todo-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
}

h1 {
  margin: 0 !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  line-height: 48px !important;
  position: relative;
}

h2 {
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 33px !important;
  color: black !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

h3 {
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 400 !important;
  font-size: 19px !important;
  line-height: 26px !important;
  color: #707070 !important;
  position: relative;
}

.todo-title {
  color: white;
  margin-top: 36px !important;
  margin-left: 34px !important;
  height: 48px !important;
}

.todo-button-group {
  width: 100%;
  margin-top: 65px;
  padding-right: 24px !important;
}

.todo-clear-all {
  width: 53px;
  height: 53px;
  border: 2px solid #ffa800;
  box-sizing: border-box;
  border-radius: 30px;
  margin-right: 10px;
  font-size: 30px;
  line-height: 30px;
  color: white;
  background-color: red;
}

.todo-clear-all:hover .fa-xmark {
  transition: 0.5s;
  transform: rotate(360deg);
}

.todo-add-icon {
  width: 53px;
  height: 53px;
  background: rgba(255, 168, 0, 0.75);
  border: 2px solid #ffa800;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 30px;
  line-height: 30px;
  color: white;
}

.todo-add-icon:hover .fa-plus {
  transition: 0.5s;
  transform: rotate(360deg);
}

.todo-record-list {
  margin-top: 6px;
  padding-left: 0;
  margin-bottom: 0 !important;
  height: 528px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0%;
}

.todo-record {
  background-color: #ffffff;
  height: 90px;
  width: 414px;
  margin-bottom: 12px;
  padding-left: 35px;
  display: flex;
  align-items: center;
}

.todo-checkbox {
  width: 25px;
  height: 25px;
  background: #ffffff;
  border: 2px solid #565656;
  box-sizing: border-box;
  position: relative;
  border-radius: 20px;
}

.todo-record-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.todo-record-text h2 {
  width: min-content;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.todo-record-text h3 {
  width: 300px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.todo-delete {
  position: relative;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 20px;
  line-height: 20px;
}

.todo-unchecked {
  background: inherit;
}

.todo-checked {
  background: #ebe8ed;
}

.todo-checked .todo-checkbox {
  background-color: #9e00ff !important;
  border: 4px solid #8b00e1;
  background-image: url(/assets/Images/Check/checked.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.strike {
  position: relative;
}

.todo-checked .todo-record-text h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  animation-name: strike;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.todo-add-container {
  position: absolute;
  width: 414px;
  height: 298px;
  top: 438px;
  padding: 22px;
  background-color: white;
}

.todo-add-backgorund {
  position: absolute;
  width: 414px;
  height: 439px;
  left: 0px;
  bottom: 297px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px -100px 100px -90px rgba(0, 0, 0, 0.9);
}

.todo-form-title {
  width: 367px;
  height: 51px;
  background: #f9f9f9;
  border: 1px solid #707070;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  font-size: 23px;
}

.todo-form-title::placeholder {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 300;
  font-size: 23px;
  line-height: 31px;
  color: #b1b1b1;
}

.todo-form-description {
  margin-top: 8px;
  width: 367px;
  height: 121px;
  background: #f9f9f9;
  border: 1px solid #707070;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  font-size: 23px;

  outline: none;
  box-shadow: none;
  resize: none;
  display: block;
  background-image: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  overflow: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
}

.todo-form-description::placeholder {
  font-style: italic;
  font-weight: 300;
  font-size: 23px;
  line-height: 31px;
  color: #b1b1b1;
}

.todo-create-button {
  margin-top: 22px;
  width: 367px;
  height: 53px;
  background: #c361ff;
  border: 2px solid rgba(139, 0, 225, 0.7);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-check-img {
  display: flex;
  position: absolute;
  margin-left: 114px;
}

.todo-create-text {
  display: flex;
  align-self: center;

  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}
